body{
    background-image: url("madrid.jpg");
    background-repeat: repeat;
}

.div_1{
    height: 200px;
    width: 200px;
    overflow: scroll;
    box-shadow: 0.5em 0.5em 0.7em;
}

.img{
    background-image: url("logo.png");
    height: 300px;
    width: 300px;
}

